.movie-card {
    width: 100%;
    height: 100%;
}

.movie-poster {
    transition: .5s;
}

.movie-poster:hover {
    transform: scale(1.08);
    padding-bottom: 0.7rem;
}

.poster-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 15px;
}

.poster-no-img {
    border: 3px solid black;
    border-radius: 15px;
    width: 100%;
    height: 87%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;

}



.no-img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

.movie-title {
    color: black;
    font-size: 16px;
    text-align: center;
}

.movie-date {
    color: black;
    font-size: 14px;
}

.favorite-btn {
    background-color: #ffcc00;
    border: none;
    padding: 8px 12px;
    margin-top: 2px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
  }
  
  .favorite-btn.is-favorite {
    background-color: #ff6666;
    color: white;
  }
  