.cabecalho {
    background-color: black;
    width: 100%;
    padding: 1rem;
    display: flex;
    gap: 3rem;
    text-align: center;
    align-items: center;
}

.cabecalho-link {
    color:  #586F7C;
}

.cabecalho-link:hover {
    color: #B8DBD9;
}