.header {
    background-color: black;
    width: 100%;
    padding: 0.7rem 3rem;
    display: flex;
    justify-content: space-between; /* Distribui título e links */
    align-items: center;
    z-index: 1000;
    position: fixed;
    top: 0;
}

.header-links {
    display: flex;
    gap: 2rem; /* Espaçamento uniforme entre os links */
}

body {
    padding-top: 4rem; 
}

.page-title {
    color: #B8DBD9;
    font-size: 40px;
}

.header-link {
    color: #B8DBD9;
    font-size: 25px;
    text-decoration: none;
}

.header-link:hover,
.page-title:hover {
    color: #F0F7F7;
}
