* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  transition: .5s;
}

body {
  background-color: #F4F4F9;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-padding-top: 4rem; 
}
